.App {
  text-align: center;
}
 
.ins_dashboard{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem, 2rem;
  margin: 2rem 5rem;
  border-radius: 4px;

}

.ins_card{
  /* background-color: RGBA(40,51,74,.8) ; */
  color: #101820FF;
  padding: 2rem 2rem;
  border-radius: 2px;
  box-shadow: 2px 4px #DAA03DFF;
}

h3{
  margin:0 auto;
  padding: 2rem;
}

.ins_create{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 10rem;
  border-radius: 2px;
  background-color: rgb(214, 214, 216);
  color:#101820FF;
  box-shadow: 2px 4px #DAA03DFF;
  padding: 2rem 2rem;
}
 