.home {
  background-color: dimgrey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.home-link {
  font-size: 40px;
  font-weight: bolder;
  background: #f59494;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;

}

.title {
  font-size: 10vh;
  color: #f59494;
}