.app{
  background-image: url("https://images.pexels.com/photos/669578/pexels-photo-669578.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); 
  overflow-x: hidden;
  background-size:cover;
  background-repeat: no-repeat;
}

.home {
  background-color: rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background-image:url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2057&q=80");
  overflow-x: hidden;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width:100%
}
 

.home-link {
  font-size: 40px;
  font-weight: bolder;
  background: #f59494;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;

}

.home-link:hover {
  border-radius: 5px;
  color: rgb(117, 239, 255);
  font-size: 2vh;
}
.title {
  font-size: 5vh;
  text-align: center;
  padding-left: 2rem;
  color: #f59494;
}

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  padding-top: 2rem;
  /* justify-content: space-evenly; */
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 1.8rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s ease all;
  
}

.link:hover {
  color: #f59494;
  transform: scale(1.1);
}

/* ---- starts the css for login and register ---- */

.register-form{
  width:100%;
  max-width: 40rem;
  padding:4% 10%;
  margin:auto;
  margin-top: 6rem;
  margin-bottom: 10rem;
  font-size: 1.1rem;
  height:100%;
  background-color: RGBA(255,255,255,.8) ;
  box-shadow: 4px 5px #f59494;
  color:#12251f;
}

.login-form{
  width:100%;
  max-width: 40rem;
  padding:3% 8%;
  margin:auto;
  margin-top: 6rem;
  margin-bottom: 10rem;
  font-size: 1.1rem;
  height:100%;
  background-color: snow; 
  box-shadow: 4px 5px #f59494;
  color:#12251f;
}
/* ---- ends the css for login and register ---- */
/* ---- starts the css for instructor feature ---- */
.ins_dashboard{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2%, 2%;
  margin: 2% 2%;
  border-radius: 4px;
}

.ins_home{
/* background-image: url("https://images.pexels.com/photos/669578/pexels-photo-669578.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
background-image:url("https://images.pexels.com/photos/4793245/pexels-photo-4793245.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  overflow-x: hidden;
  background-size:cover;
  background-repeat: no-repeat;
}

.ins_card{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:1rem auto;
  background-color: RGBA(255,255,255,.8) ;
  color: #101820FF;
  padding: 2rem 2rem;
  width:90%;
  border-radius: 2px;
  box-shadow: 2px 4px #f59494;
}

h3{
  margin:0 auto;
  text-align: center;
  padding: 2rem;
  /* color: rgb(53, 62, 63); */
  color:#f59494;
  text-shadow: 0.8px rgb(117, 239, 255);
}

h4{
  margin: 1rem 1rem;
  padding-top: 1rem 1rem;
  color:rgb(53, 62, 63);
  font-size: 1.2rem;
  font-style: oblique;
}

.enrolled{
   background-color: #f59494;
   border-color:white;
   font-size: 1.1rem;
  
}
 
.ins_create{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  border-radius: 2px;
  /* background-color: rgb(214, 214, 216); */
  width:50%;
  background-color: RGBA(255,255,255,.8) ;
  /* color:#101820FF; */
  color:#f59494;
  font-size: 1.2rem;
  font-style: bold;
  box-shadow: 2px 4px #f59494;
  padding: 2rem 2rem;
}
 
.error {
  font-size: 1.2rem;
  color: red;
}

.ins_classcard{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:center;
  align-content: space-around;
  border-radius: 4px;
  box-shadow: 2px 4px rgb(117, 239, 255);
  background-color: RGBA(255,255,255,.8) ;
  padding:3.5% 0%;
  font-size:1.1rem;
  margin: 5% auto;
}

.dashimage{
  height:10rem;
}
.ins_intro{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  border-radius: 4px;
  box-shadow: 2px 4px #f59494;;
  background-color: RGBA(255,255,255,.8) ;
  /* background-color: rgb(243, 250, 252); */
  padding:1% 0%;
  font-size:1.1rem;
  margin: 1.5rem .1rem;
  width:90%; 
}
.ins_desc{
 font-style: italic;
 font-size: 1rem; 
}

button{
  margin:0.5rem 1rem;
}

/* ---- ends the css for instructor feature ---- */
 

 /* for mobile - with Media Pixel of up to 500px display column*/
 @media only screen and (max-width: 500px){

  .navbar{
    font-size: 1rem;
  }
 
   .link{
    font-size: 1.4rem;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem 0.5rem;
  } 
  .ins_create{
    width:90%;
  }

 
}

/************** FOR 800 PX TAB**********************/
@media only screen and (min-width:501px) and (max-width:810px) 
{
  .navbar{
    font-size: 1.2rem;
  }
}